tapper-manual-*.*/
tapper-manual.aux
tapper-manual.cp
tapper-manual.cps
tapper-manual.dvi
tapper-manual.fn
tapper-manual.html
tapper-manual.info
tapper-manual.ky
tapper-manual.log
tapper-manual.pdf
tapper-manual.pg
tapper-manual.ps
tapper-manual-*.*.tgz
tapper-manual.toc
tapper-manual.tp
tapper-manual.vr
tapper-manual.xml

tapper-devel-*.*/
tapper-devel.aux
tapper-devel.cp
tapper-devel.cps
tapper-devel.dvi
tapper-devel.fn
tapper-devel.html
tapper-devel.info
tapper-devel.ky
tapper-devel.log
tapper-devel.pdf
tapper-devel.pg
tapper-devel.ps
tapper-devel.toc
tapper-devel.tp
tapper-devel.vr
tapper-devel.xml

